<nb-card class="animated fadeIn anim-section-etat">
    <nb-card-header class="head-card-container">Etat d'e-comBox</nb-card-header>
    <nb-card-body>
        <div [ngClass]="boxUpdate">
            <div class="box">
                <span>
                    <span>{{ labelVersion }}</span>
                    <span *ngIf="!isImportant"><a [ngClass]="classVersion" href="{{ urlChangelog }}" target="_blank">{{
                            version }}
                        </a></span>
                    <span *ngIf="!webappUpdate && !ecbUpdate && !isBeta" class="title-config-etat">
                        <a href="{{ urlChangelog }}" target="_blank">(à jour)</a></span>
                    <span *ngIf="((ecbUpdate || webappUpdate) && !isImportant)">
                        <a href="{{ urlChangelog }}" target="_blank" [ngClass]="updateClass">(une nouvelle version est
                            disponible)</a>
                    </span>
                </span>
                <button *ngIf="ecbUpdate || webappUpdate" nbButton ghost [status]="levelUpdate"
                    (click)="openHelpInstall()">
                    <nb-icon icon="question-mark-circle-outline"></nb-icon>
                </button>
            </div>
        </div>
        <div class="progress-info">
            <div>Version des scripts d'installation :
                <span class="title-config-etat">{{ scriptVersion }}</span>
            </div>
        </div>
        <div class="progress-info">
            <div>Nombre de sites créés :
                <span *ngIf="nbContainers > 0" class="title-config-etat">{{ nbContainers }}</span>
                <span *ngIf="nbContainers === 0" class="title-config-etat">Aucun site créé</span>
            </div>
        </div>
        <div class="progress-info">
            <div>Instance de l'e-comBox :
                <span class="title-config-etat">{{ urlEcomBox }} </span>
            </div>
        </div>
        <div class="progress-info">
            <div>Connecté en tant que :
                <span class="title-config-etat">{{ currentUser?.username }} </span>
            </div>
        </div>
    </nb-card-body>
</nb-card>