<div class="header">
  <div>
    <h2>Informations de connexion</h2>
  </div>
  <div>
    <button outline nbButton (click)="export()" status="info">
      Télécharger au format PDF
    </button>
  </div>
</div>

<div class="row">
  <div class="accordion col-md-12">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>{{
          "information.prestashop.title" | translate
          }}</nb-accordion-item-header>

        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md">
              <div class="subtitle">
                {{ "information.prestashop.sec1.profil" | translate }}
              </div>
              <div>
                <span class="subtitle">{{
                  "information.user" | translate
                  }}</span>{{ "information.prestashop.sec1.user1" | translate }}
              </div>
              <div>
                <span class="subtitle">{{ "information.mdp" | translate }}</span>{{ "information.prestashop.sec1.mdp1" |
                translate }}
              </div>
            </div>
            <div class="col-md">
              <div class="subtitle">
                {{ "information.prestashop.sec2.profil" | translate }}
              </div>
              <div>
                <span class="subtitle">{{
                  "information.user" | translate
                  }}</span>{{ "information.prestashop.sec2.user1" | translate }}
              </div>
              <div>
                <span class="subtitle">{{ "information.mdp" | translate }}</span>{{ "information.prestashop.sec2.mdp1" |
                translate }}
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md">
              <div class="subtitle">
                {{ "information.prestashop.sec3.profil" | translate }}
              </div>
              <div>
                <span class="subtitle">{{
                  "information.user" | translate
                  }}</span>{{ "information.prestashop.sec3.user1" | translate }}
              </div>
              <div>
                <span class="subtitle">{{ "information.mdp" | translate }}</span>{{ "information.prestashop.sec3.mdp1" |
                translate }}
              </div>
            </div>
            <div class="col-md">
              <div class="subtitle">
                {{ "information.prestashop.sec4.profil" | translate }}
              </div>
              <div>
                <span class="subtitle">{{
                  "information.user" | translate
                  }}</span>{{ "information.prestashop.sec4.user1" | translate }}
              </div>
              <div>
                <span class="subtitle">{{ "information.mdp" | translate }}</span>{{ "information.prestashop.sec4.mdp1" |
                translate }}
              </div>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>{{
          "information.woocommerce.title" | translate
          }}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div>
            <span class="subtitle">{{ "information.user" | translate }}</span>
            {{ "information.woocommerce.user1" | translate }}
          </div>
          <div>
            <span class="subtitle">{{ "information.mdp" | translate }}</span>
            {{ "information.woocommerce.mdp1" | translate }}
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>{{
          "information.blog.title" | translate
          }}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div>
            <span class="subtitle">{{ "information.user" | translate }}</span>
            {{ "information.blog.user1" | translate }}
          </div>
          <div>
            <span class="subtitle">{{ "information.mdp" | translate }}</span>
            {{ "information.blog.mdp1" | translate }}
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>{{
          "information.suitecrm.title" | translate
          }}</nb-accordion-item-header>

        <nb-accordion-item-body>
          <div>
            <span class="subtitle">{{ "information.user" | translate }}</span>
            {{ "information.suitecrm.user1" | translate }}
          </div>
          <div>
            <span class="subtitle">{{ "information.mdp" | translate }}</span>
            {{ "information.suitecrm.mdp1" | translate }}
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>{{
          "information.odoo.title" | translate
          }}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-4">
              <div class="subtitle">
                {{ "information.odoo.sec2.profil" | translate }}
              </div>
              <div>
                {{ "information.user" | translate }}
                {{ "information.odoo.sec2.user1" | translate }}
              </div>
              <div>
                {{ "information.mdp" | translate }}
                {{ "information.odoo.sec2.mdp1" | translate }}
              </div>
              <div class="subtitle">
                {{ "information.odoo.sec2.info" | translate }}
              </div>
              <div>
                {{ "information.mdp" | translate }}
                {{ "information.odoo.sec2.mdp2" | translate }}
              </div>
            </div>

            <div class="col-md-4">
              <div class="subtitle">
                {{ "information.odoo.sec3.profil" | translate }}
              </div>
              <div>
                {{ "information.user" | translate }}
                {{ "information.odoo.sec3.user1" | translate }}
              </div>
              <div>
                {{ "information.mdp" | translate }}
                {{ "information.odoo.sec3.mdp1" | translate }}
              </div>
            </div>

            <div class="col-md-4">
              <div class="subtitle">
                {{ "information.odoo.sec4.profil" | translate }}
              </div>
              <div>
                {{ "information.user" | translate }}
                {{ "information.odoo.sec4.user1" | translate }}
              </div>
              <div>
                {{ "information.mdp" | translate }}
                {{ "information.odoo.sec4.mdp1" | translate }}
              </div>
            </div>
          </div>
          <br />
          <div class="row">

            <div class="col-md-4">
              <div class="subtitle">
                {{ "information.odoo.sec5.profil" | translate }}
              </div>
              <div>
                {{ "information.user" | translate }}
                {{ "information.odoo.sec5.user1" | translate }}
              </div>
              <div>
                {{ "information.mdp" | translate }}
                {{ "information.odoo.sec5.mdp1" | translate }}
              </div>
            </div>

            <div class="col-md-4">
              <div class="subtitle">
                {{ "information.odoo.sec6.profil" | translate }}
              </div>
              <div>
                {{ "information.user" | translate }}
                {{ "information.odoo.sec6.user1" | translate }}
              </div>
              <div>
                {{ "information.mdp" | translate }}
                {{ "information.odoo.sec6.mdp1" | translate }}
              </div>
              <div class="subtitle">
                {{ "information.odoo.sec6.info" | translate }}
              </div>
              <div>
                {{ "information.odoo.sec6.mdp2" | translate }}
              </div>
            </div>

            <div class="col-md-4">
              <div class="subtitle">
                {{ "information.odoo.sec7.profil" | translate }}
              </div>
              <div>
                {{ "information.user" | translate }}
                {{ "information.odoo.sec7.user1" | translate }}
              </div>
              <div>
                {{ "information.mdp" | translate }}
                {{ "information.odoo.sec7.mdp1" | translate }}
              </div>
              <div class="subtitle">
                {{ "information.odoo.sec7.info" | translate }}
              </div>
              <div>
                {{ "information.odoo.sec7.mdp2" | translate }}
              </div>
            </div>
          </div>
        </nb-accordion-item-body>

        <span>{{ "information.odoo.sec6.profil" | translate }}<br /></span>
        {{ "information.user" | translate }}
        {{ "information.odoo.sec6.user1" | translate }}<br />
        {{ "information.mdp" | translate }}
        {{ "information.odoo.sec6.mdp1" | translate }}<br />
        {{ "information.odoo.sec6.info" | translate }}
        {{ "information.odoo.sec6.mdp2" | translate }}
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>{{
          "information.kanboard.title" | translate
          }}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div>
            <span class="subtitle">{{ "information.user" | translate }}</span>
            {{ "information.kanboard.user1" | translate }}
          </div>
          <div>
            <span class="subtitle">{{ "information.mdp" | translate }}</span>
            {{ "information.kanboard.mdp1" | translate }}
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>{{
          "information.humhub.title" | translate
          }}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div>
            <span class="subtitle">{{ "information.user" | translate }}</span>
            {{ "information.humhub.user1" | translate }}
          </div>
          <div>
            <span class="subtitle">{{ "information.mdp" | translate }}</span>
            {{ "information.humhub.mdp1" | translate }}
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>