<nb-card>
  <nb-card-header>{{ message }}</nb-card-header>
  <nb-card-body>
    <nb-radio-group name="isMultiple" [(ngModel)]="option">
      <nb-radio *ngFor="let option of options" [value]="option.value" [checked]="option.checked">
        {{ option.label }}
      </nb-radio>
    </nb-radio-group>
    <form *ngIf="option === 'oui'" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <span>
        Entrez le nombre de sites à créer :
        <input #name nbInput formControlName="nbOfStacks" type="number" placeholder="1 à 30" (keyup.enter)="onSubmit()">
      </span>
      <div *ngIf="submitted && nbStacks.errors && nbStacks.errors.required" class="text-danger">Veuillez saisir le
        nombre de sites à créer.
      </div>
      <div *ngIf="submitted && nbStacks.errors && (nbStacks.errors.min || nbStacks.errors.max)" class="text-danger">
        Veuillez saisir un
        nombre compris entre 1 et 30.
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" (click)="cancel()">Annuler</button>
    <button nbButton id="btnSubmit" class="btn-success" status="success" [nbPopover]="err" nbPopoverPlacement="right"
      (click)="onSubmit()">Valider</button>
  </nb-card-footer>
</nb-card>