::ng-deep .navigation .link nb-icon {
  display: none !important;
}

.container {
  margin-top: 2%;
}

.vertical-line {
  border-left: 1px solid #ED8996;
}

.flex-column {
  margin: 20px 0 0 auto;
}


/* Centrer horizontalement le contenu de la première colonne lorsque la deuxième colonne n'est pas visible */
.centered {
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* Centrer verticalement le composant ecx-oauth et le positionner sur la gauche */
.col-md-4.vertical-line.container {
  display: flex;
  align-items: center; /* Centrer verticalement les éléments */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligner le contenu sur la gauche */
  justify-content: center; /* Centrer verticalement le contenu */
  height: 100%; /* Remplir toute la hauteur du conteneur parent */
}