<nb-card class="animated fadeIn anim-section-sites">
    <nb-card-header class="head-card-container">Tous les sites
    </nb-card-header>
    <nb-card-body>
        <div echarts [options]="options" class="echart"></div>
    </nb-card-body>
</nb-card>