<nb-card [ngClass]="{'off': !on}" [nbSpinner]="loading" nbSpinnerStatus="success">
    <div class="icon-container">
        <div class="icon status-{{ type }}" (click)="onClick()">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="details">
        <div class="title">{{ title }}</div>
        <div>{{ on ? '' : 'Cliquer pour activer' }}</div>
        <div *ngIf="on">
            <div *ngIf="!password">
                <br />
            </div>
            <div *ngIf="password?.length > 0">
                <i>Login / Mot de passe : </i><b>ecb</b> / <b>{{ password }}</b>
            </div>
            <div *ngIf="typeStackAss == 'sftp'"><i>Client SFTP : </i><b>{{ hostSftp }}</b></div>
            <div><span><i>Client Web : </i><a href="{{ url }}" target="_blank">{{ url }}</a></span></div>
        </div>
    </div>
    <div class="etat {{ actif }}">
        <i><b>{{ on ? 'activé' : 'désactivé' }}</b></i>
    </div>
</nb-card>