<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header class="head-card-container">
                {{ 'servers.manage' | translate }}<span *ngIf="!custom"> créés à partir d'un modèle fourni</span><span
                    *ngIf="custom"> créés à partir d'un de vos modèles</span>
            </nb-card-header>
            <nb-card-body class="row manage-row">
                <div class="col-md-2">
                    <button nbButton size="small" status="primary" (click)="onGetPdf()" [disabled]="noStack"> Afficher
                        les
                        URL</button>
                </div>
                <div class="col-md-4"
                    nbTooltip="Activer cette option pour arrêter, démarrer ou supprimer plusieurs sites simultanément"
                    nbTooltipPlacement="top" nbTooltipStatus="primary">
                    <nb-toggle status="primary" [(checked)]="checked" [disabled]="noStack"
                        (checkedChange)="onSelectedChange()">
                        Activer le mode sélection
                    </nb-toggle>
                </div>
                <div class="col-md-2" *ngIf="checked">
                    <nb-checkbox [(ngModel)]="allIsChecked" (checkedChange)="toggle($event)" primary>Tous les
                        sites</nb-checkbox>
                </div>
                <div *ngIf="checked" class="col-md-4" style="display: flex; justify-content: space-between;">
                    <button nbButton size="small" status="primary" (click)="onStartAll()">Démarrer</button>
                    <button nbButton size="small" status="primary" (click)="onStopAll()">Arrêter</button>
                    <button nbButton size="small" status="danger" (click)="onDelAll()">
                        Supprimer</button>
                </div>
            </nb-card-body>
            <nb-card-body class="row" *ngIf="checked">
                <div class="col-md-12 select-title">
                    Veuillez sélectionner les sites en cliquant dessus
                </div>
            </nb-card-body>
            <nb-card-body class="row" style="display: flex; justify-content: space-between;">
                <div class="col-xxxl-6 col-md-6 col-sm-12" *ngFor="let statusCard of commonStatusCardsSet">
                    <ecx-server-status-card [stack]="statusCard.stack" [isSelected]="checked"
                        (cardSelect)="onCardSelected($event)" [allSelected]="allIsChecked"
                        [allUnchecked]="allUnchecked">
                        <i [ngClass]="statusCard.iconClass"></i>
                    </ecx-server-status-card>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>