<!--<th *ngIf="OAUTH">
    <div class="grid-container">
        <a href={{oauthUrl}}>
            <button nbButton fullWidth status="success">Se connecter avec OpenID Connect</button>
        </a>
    </div>
</th>-->
<button *ngIf="OAUTH" nbButton type="button" status="success" (click)="connect()">Se connecter avec OpenID
    Connect</button>