<nb-card>
    <nb-card-header>
        Modèles de sites créés
        <button nbButton (click)="import()">
            <nb-icon inline title="Importer un modèle de site" icon="folder-add-outline" status="info"></nb-icon>
        </button>
    </nb-card-header>

    <nb-card-body>
        <angular2-smart-table *ngIf="data.length > 0" [settings]="settings" [source]="source"
            (deleteConfirm)="onDeleteConfirm($event)" (custom)="form($event)" (editConfirm)="onEdit($event)"
            (create)="import()">

        </angular2-smart-table>
        <div *ngIf="data.length === 0">Aucune image.</div>
    </nb-card-body>
</nb-card>