@import "../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
} 

:host ::ng-deep angular2-st-tbody-edit-delete {
  font-size: 2em;
}

:host ::ng-deep angular2-st-tbody-custom a.angular2-smart-action.angular2-smart-action-custom-custom {
  font-size: 2em;
  margin-right: 0.5em;
  text-decoration: none;
}

:host ::ng-deep angular2-st-tbody-create-cancel {
  font-size: 2em;
}

:host ::ng-deep angular2-st-tbody-custom a.angular2-smart-action.angular2-smart-action-custom-custom:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-color: #1e6bb8;
}