<nb-card [ngClass]="cssCard + cssCardSelected" [nbSpinner]="loading" nbSpinnerStatus="info" (click)="onSelectCard()">
  <div class="icon-container">
    <div class="icon status-info" (click)="onClick()">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="details">
    <div class="title">
      {{ title }}
    </div>
    <div class="status">{{ this.isOn ? "Démarré" : "Arrêté" }}</div>
    <div class="title" *ngIf="this.isOn">
      <span *ngIf="stacksWithFront.includes(serverType)"><a [href]="urlFront" target="_blank" rel="noopener">Site</a>
        /
        <a [href]="urlBack" target="_blank" rel="noopener">Administration</a>
      </span>
      <a *ngIf="!stacksWithFront.includes(serverType)" [href]="urlBack" target="_blank" rel="noopener">Accéder au
        site</a>
      {{ password }}
    </div>
  </div>
  <div class="bt-suppr">
    <span nbTooltip=" {{
        !this.isOn
          ? 'Démarrez ce site pour créer un modèle'
          : 'Cliquez ici pour créer un modèle de ce site'
      }}">
      <button nbButton outline [disabled]="!this.isOn || this.isSelected" status="info" (click)="onDuplicate()"
        class="btn-cp">
        <nb-icon icon="copy-outline"></nb-icon>
      </button>
    </span>
    <span nbTooltip=" {{'Cliquez ici pour réinitialiser un site'}}">
      <button nbButton outline status="info" (click)="onReset()" class="btn-cp">
        <nb-icon icon="refresh-outline"></nb-icon>
      </button>
    </span>
    <button nbButton outline status="danger" (click)="confirmDel()" [disabled]="this.isSelected" class="btn-del">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </div>
  <div *ngIf="tag?.length > 0" [ngClass]="loading ? 'name-img-load caption-2' : 'name-img caption-2'">
    <i>Créé à partir du modèle : {{ tag }}</i>
  </div>
</nb-card>